.modal-body img {
    width: 100%;
    height: auto;
  }
  
  .modal-body {
    max-height: 80vh;
    overflow-y: auto;
    background-color: hsla(0, 0%, 67%, 0.448);
    text-align: justify;
  }

  .modal-body img{
    border-radius: 6px;
    max-width: 640px;
    margin-left: 60px;
    max-height: 400px;
  }
  
  .tech-blog{
    padding: 80px 30px;
    
  }

  .tech-blog .card{
    transition: 0.5s;
    cursor: pointer;
  }

  .tech-blog .card:hover{
    border: 3px solid hsla(240, 100%, 50%, 0.34);
    transform: scale(1.05);
  }

  .background{
    width: 100%;
    height: 100vh;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade-in{
    animation: fadeIn 500ms ease-in-out;
}

.modal-body