.modal-body {
  color: white; /* Set the body text color to white */
  background-color: rgba(57, 55, 55, 0.777); /* Optional: Set a darker background color for contrast */
  padding: 20px; /* Add padding for better spacing */
}

.modal-body h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 400px;
  color: #fff; /* Ensure heading color is white */
}

.modal-body p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #fff; /* Ensure paragraph text is white */
}

.modal-body img {
  max-width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}

.modal-body ul,
.modal-body ol {
  margin-left: 2rem;
  color: #fff; /* Ensure list text is white */
}

/* Optional: Style the modal background */
.modal-content {
  background-color: rgba(0, 0, 0, 0.647); /* Set modal background color */
  border-radius: 8px; /* Add some border radius */
}

/* Optional: Style the modal header */
.modal-header {
  border-bottom: none; /* Remove bottom border */
  background-color: #555; /* Set a background color for the header */
  color: white; /* Set header text color to white */
}

.tech-blog{
  padding-top: 80px;
  
}

.tech-blog .card{
  cursor: pointer;
  transition: 0.5s;
}

.tech-blog .card:hover{
  transform: scale(1.1);
  border: 2px solid hsla(240, 100%, 50%, 0.411);
}